.filter-category-container {
  margin: 5rem auto;
  padding: 0 2%;
}

.filter-category-container .filter-category-card {
  width: 15rem;
  height: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* position: relative; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 10px;
  padding: 0 2px;
}

.filter-category-card .filter-category-card-info {
  color: #000;

  padding: 5px 10px;
  bottom: 2px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.filter-category-card-info h3 {
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.filter-category-card-info a {
  color: #fff;
  font-size: 0.8rem;
  background: #fe9931;
  padding: 2px 10px;
  border-radius: 10px;
}
.filter-category-card-info a:hover {
  color: #000;
  background: #f1f1f1;
  font-size: 0.8rem;
  text-decoration: none;
}

.filter-category-card p {
  text-align: center;
}

.filter-category-card .filter-category-card-img {
  width: 13rem;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  /* position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1; */
}

.featured-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.featured-category .featured-category-title {
  font-size: 1.3rem;
}
.featured-category a {
  color: #fe9931;
  font-size: 1.3rem;
  text-transform: uppercase;
}
